[submodule "go-assignment1"]
	path = go-assignment1
	url = https://github.com/yertaypert/go-assignment1.git
[submodule "go-assignment3"]
	path = go-assignment3
	url = https://github.com/yertaypert/go-assignment3.git
[submodule "go-assignment4"]
	path = go-assignment4
	url = https://github.com/yertaypert/go-assignment4.git
[submodule "go-assignment5"]
	path = go-assignment5
	url = https://github.com/yertaypert/go-assignment5.git
[submodule "go-assignment6"]
	path = go-assignment6
	url = https://github.com/yertaypert/go-assignment6.git
[submodule "go-assignment7"]
	path = go-assignment7
	url = https://github.com/yertaypert/go-assignment7.git
[submodule "go-assignment8"]
	path = go-assignment8
	url = https://github.com/yertaypert/go-assignment8.git
[submodule "go-assignment9"]
	path = go-assignment9
	url = https://github.com/yertaypert/go-assignment9.git
